PORT=3000

VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_API_VERSION=v26.0
META_APP_SECRET=
WHATSAPP_TEST_RECIPIENT=
# MongoDB Atlas
MONGODB_URI=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DB_NAME=whatsapp_lead_bot